@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

.canvas_menu {
    /* margin: 40px 40px; */
    padding: 10px;
    box-shadow: 1px 10px 12px rgba(0, 0, 0, 0.1);
}

.canvas_menu ul {
    display: flex;
    margin-top: 10px;
    height: 20px;
    justify-content: space-between;
    list-style: none;
}

.fa-solid {
    font-size: 30px;
    cursor: pointer;
}

.tech_head {
    font-size: 35px;
    color: #12486B;
}

.canvas_list {
    list-style: none;
    margin-top: 10px;
}

.canvas_list li {
    margin-top: 35px;
}

.canvas_list li i {
    font-size: 22px;
    margin-right: 10px;
}

.linkk {
    font-size: 22px;
    color: black;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.linkk:hover {
    color: #12486B;
}

.home_main_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.active {
    color: #12486B;
}

.home_content h1 {
    font-size: 50px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    width: 220px;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 55px;
    height: 55px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.btns {
    margin-top: 50px;
    display: flex;
}

.btn button {
    margin-right: 20px;
}

.notes_main_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    position: relative;
    overflow: hidden;
    height: 3.5rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    font-size: 20px;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

.button_container {
    margin-top: 40px;
    display: grid;
    gap: 40px;
}

.notes_mainn {
    display: flex;
    gap: 100px;

}


.notes_middle {
    border-right: 10px solid black;
    border-radius: 10px;
}

.subject_names {
    margin-top: 40px;
}

.sub_btn {
    position: relative;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    height: 50px;
    width: 250px;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

.sub_btn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.sub_btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.sub_btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.sub_btn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.log_main_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 951px) {
    .home_content h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .btns {
        margin-top: 80px;
        flex-direction: column;
        gap: 50px;
    }

    .notes_head {
        margin-top: 100px;
    }

    .notes_content h1 {
        font-size: 40px;
    }

    .semester {
        flex-direction: column;
        gap: 65px;
    }

    .notes_content {
        width: 300px;
    }

    .notes_mainn {
        flex-direction: column;
        gap: 30px;
        margin-top: 300px;
    }
}