@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}


.canvas_menu {
    padding: 10px;

}

.canvas_menu ul {
    display: flex;
    margin-top: 10px;
    height: 20px;
    justify-content: space-between;
    list-style: none;
}

.fa-solid {
    font-size: 30px;
    cursor: pointer;
}

.tech_head {
    font-size: 35px;
    color: #12486B;
}

.canvas_list {
    list-style: none;
    margin-top: 10px;
}

.canvas_list li {
    margin-top: 35px;
}

.canvas_list li i {
    font-size: 22px;
    margin-right: 10px;
}

.linkk {
    font-size: 22px;
    color: black;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.linkk:hover {
    color: #12486B;
}

.home_main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.active {
    color: #12486B;
}

.home_content {
    text-align: center;
}

.home_content h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.home_content h1 span {
    color: #B2533E;
    font-weight: 600;
}

.home_content h2 {
    font-size: 35px;
    color: #183153;
}

.home_content h2 span {
    color: #B2533E;
    font-weight: 600;
}

.btns {
    margin-top: 50px;
    display: flex;
    gap: 80px;
    align-items: center;
}

.btn button {
    margin-right: 20px;
}

.notes_main_container {
    padding: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.button {
    position: relative;
    overflow: hidden;
    height: 3.5rem;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    font-size: 20px;
}

.button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgba(150, 93, 233, 1) 10.8%,
            rgba(99, 88, 238, 1) 94.3%);
    transition: all 0.475s;
}

.button_container {
    margin-top: 40px;
    display: grid;
    gap: 40px;
}

.notes_mainn {
    display: flex;
    gap: 100px;
    /* margin: 10px; */
}

.notes_middle {
    border-right: 10px solid black;
    border-radius: 10px;
}

.subject_names {
    margin-top: 40px;
}

.sub_btn {
    position: relative;
    display: flex;
    margin-top: 25px;
    justify-content: center;
    height: 50px;
    width: 250px;
    align-items: center;
    border-radius: 5px;
    background: #183153;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

.sub_btn:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #FFD401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.sub_btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.sub_btn span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.sub_btn:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.log_main_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vam_main_conatiner {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 50px;
    text-align: center;
}

.vam_subjects {
    columns: 100px 2;
    padding: 20px;
}

.sub_content {
    padding: 50px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 50px;
    box-shadow: 1px 10px 12px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sub_content:hover i {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.sub_content {
    text-align: center;
}

.sub_content i {
    font-size: 70px;
    color: #12486B;
    cursor: pointer;
    margin-bottom: 20px;
}

.sub_info {
    padding: 10px;
}

.sub_info h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

.sub_info button {
    margin: 10px;
    border: none;
    background-color: #12486B;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.notes_right {
    text-align: center;
}

.subject_names {
    margin: 22px;
}

.home_btn {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 150px;
    background-color: #183153;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.home_btn span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #0c66ed;
    border-radius: 50%;
    transition: .6s ease;
}

.home_btn span:nth-child(6) {
    position: relative;
}

.home_btn span:nth-child(1) {
    transform: translate(-3.3em, -4em);
}

.home_btn span:nth-child(2) {
    transform: translate(-6em, 1.3em);
}

.home_btn span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
}

.home_btn span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
}

.home_btn span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
}

.home_btn:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
}

.contactButton {
    background: #7079f0;
    color: white;
    font-family: inherit;
    padding: 0.45em;
    padding-left: 1.0em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3em;
}

.iconButton {
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #7a8cf3;
    right: 0.3em;
    transition: all 0.3s;
}

.contactButton:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em #5566c2;
}

.contactButton:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em #5566c2;
}

.log_form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 400px;
}

.log_content {
    background-color: #183153;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.log_content h1 {
    color: white;
    margin-bottom: 20px;
}

.log_form input {
    width: 100%;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 20px;
    color: #183153;
}

.log_form input:focus {
    outline: none;
}

.log_form button {
    width: 200px;
    margin: 0 auto;
}

.log {
    color: white;
}

.log span {
    color: #0c66ed;
    cursor: pointer;
}

.social_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 20px;
}

.home_social_btns {
    padding: 50px;
}

.social_list li i {
    font-size: 30px;
    cursor: pointer;
    color: #183153;
}

.team_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.member_info {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 5s;
    border-radius: 20px;
}

.team_content h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #12486B;
}

.member1 {
    border-radius: 20px;
}

.member_info h3 {
    position: absolute;
    bottom: 30px;
    left: -100%;
    color: white;
    transition: left 0.3s;
    font-weight: 600;
}

.member_info h4 {
    position: absolute;
    bottom: 5px;
    color: white;
    left: -100%;
    transition: left 0.3s;
}

.member_info .ul1 {
    position: absolute;
    left: 220px;
    list-style: none;
    bottom: 100%;
    /* display: none; */
    transition: bottom 1s;
}

.opp_para {
    text-align: center;
    margin-top: 20px;
    color: #12486B;
    font-size: 20px;
}

.opp_para span {
    color: #B2533E;
    cursor: pointer;
}


.member_info .ul2 {
    position: absolute;
    left: 220px;
    bottom: 100%;
    list-style: none;
    /* display: none; */
    transition: bottom 0.5s;
}



.member_info:hover .overlay {
    display: block;
    transition: background-color 5s;
}

.member_info:hover .ul1 {
    bottom: 20px;
    display: block;
    font-size: 30px;
    color: white;
}

.member_info:hover .ul2 {
    bottom: 60px;
    display: block;
    font-size: 30px;
    color: white;
}

.member_info:hover h3 {
    left: 20px;
}

.member_info:hover h4 {
    left: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    transition: background-color 5s;
}

.sub_name {
    text-decoration: none;
    color: white;
}

.team_members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.subject_main_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.log__btn {
    border: none;
    background: none;
}

@media screen and (max-width: 951px) {
    .home_content h1 {
        font-size: 40px;
        font-weight: 600;
    }

    .btns {
        margin-top: 80px;
        flex-direction: column;
        gap: 50px;
    }

    .notes_head {
        margin-top: 100px;
    }

    .notes_content h1 {
        font-size: 40px;
    }

    .semester {
        flex-direction: column;
        gap: 65px;
    }

    .notes_content {
        width: 300px;
    }

    .notes_mainn {
        flex-direction: column;
        gap: 30px;
        margin-top: 100px;
    }

    .vam_subjects {
        columns: 100px 1;
        padding: 20px;
    }

    .vam_content h1 {
        font-size: 40px;
    }

    .head_hide {
        display: none;
    }

    .home_content h1 {
        font-size: 40px;
    }

    .team_members {
        flex-direction: column;
    }

    .notes_main_container {
        padding: 0;
    }
}

.sbmt-btn {
    width: 100px;
    border: none;
    background-color: #12486B;
    color: white;
    padding: 5px;
    border-radius: 5px;
}