@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

.canvas_menu {
    /* margin: 40px 40px; */
    padding: 10px;
    box-shadow: 1px 10px 12px rgba(0, 0, 0, 0.1);
}

.canvas_menu ul {
    display: flex;
    margin-top: 10px;
    height: 20px;
    justify-content: space-between;
    list-style: none;
}

.fa-solid {
    font-size: 30px;
    cursor: pointer;
}

.tech_head {
    font-size: 35px;
    color: #12486B;
}

.canvas_list {
    list-style: none;
    margin-top: 20px;
}

.canvas_list li {
    margin: 60px 10px;
}

.canvas_list li i {
    font-size: 22px;
    margin-right: 10px;
}

.linkk {
    font-size: 22px;
    color: black;
    text-decoration: none;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}

.linkk:hover {
    color: #12486B;
}

.home_main_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.active {
    color: #12486B;
}

.home_content h1 {
    font-size: 50px;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
}

.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #b1dae7;
    width: 55px;
    height: 55px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #b1dae7;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}

.btns {
    margin-top: 50px;
    display: flex;
}

.btn button {
    margin-right: 20px;
}